<form style="width: auto; height: auto">
    <div style="height: 95%">
        <img src="{{imageLocation}}"/>
    </div>
    <div class="form-group" style="height: 5%;">
        <label>Author: </label>
        <input name="author" value="{{text}}" type="text"/>
    </div>
</form>
