<form class="mediaDisplay">
    <div style="height: 95%">
        <img style="border: #000;" src="{{imageLocation}}"/>
    </div>
    <div class="form-group author-input" style="height: 1rem; margin-bottom: 5px;  {{#unless isGM}} display: none; {{/unless}}">
        <label style="color: white;">Author: </label>
        <input style="color: white;" name="author" value="{{text}}" type="text"/>
    </div>

    <div class="author-selected" style="height: 1rem; margin-bottom: 5px; {{#if isGM}} display: none {{/if}}">
        <p style="color: white">Author: {{text}}</p>
    </div>
</form>
