.transparent-window {
  min-width: 300px;

  & .window-content {
    background: rgba(0, 0, 0, 0);
  }

  & .white-text {
    color: white !important;
  }

  & .text-sizing {
    height: 1.5rem;
  }

  & .media-display {
    position: relative;
    max-height: calc(100% - 20px);

  }

  & .image-container {
    height: 95%;
    text-align: center;

    & img {
      border: #000000;
      max-height: 100%;
    }
  }

  & .author-info-container {
    height: 5%;

    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
}
